<%-include('./common/header-source.ejs')%>
<div class="container">
  <%-include('./common/header.ejs')%>
  <section id="list-section">
    <div class="content-wrap">
      <div class="content-top">
        <div>
          <div class="post-list">게시글 목록</div>
          <div class="post-total">0개</div>
        </div>
        <div class="post-btn-wrap">
          <button type="button" class="post-btn btn btn-primary">게시글 등록</button>
        </div>
      </div>
      <ul class="content-ul"></ul>
      <nav aria-label="Page navigation example">
        <ul id="paging-wrap" class="pagination"></ul>
      </nav>
    </div>
  </section>
  <%-include('./common/footer.ejs')%>
</div>
<script src="/js/common/elapsedTime.js"></script>
<script>

let listController = {
  data : null,
  $target : null,
  option : {},
  total : 0,
  page : 1,
  offset : 0,
  init : function(target){
      this.$target = target;
      this.getData();
      this.getTotal();
      this.option.pageSize = 10;
      this.option.pageCount = 5;
      this.option.total = this.total;
      this.option.$target = this.$target;
      this.option.page = 1;
      pagingController.init(this.option, this);
      this.commonEvent(target)
  },
  bindListData : function(datas){
    let text =``;
    datas.forEach((data)=>{
      const jsDate =new Date(data.createDate);
      text +=`
              <li>
                <a href="/detail/${data.post_id}">
                  <div class="content-box">
                    <div class="title">${data.post_title}</div>
                    <div class="writer-wrap">
                      <div class="writer">${data.tbl_member.member_name}</div>
                      <span></span>
                      <div class="register-time">${elapsedTime(data.create_date)}</div>
                    </div>
                  </div>
                </a>
              </li>
              `
    })

    this.$target.find('.content-ul').html(text)

  },
  getData : function(){
      this.offset = 10 * (this.page - 1);;
      let limit = 10;
      let _self = this;
    $.ajax({
            url: `/api/post?offset=${this.offset}&limit=${limit}`,
            type: 'get',
            success: function (data) {
              _self.bindListData(data);
            },
            error : function(){
              alert("에러")
            }
          });
  },
  getTotal : function(){
    let _self = this;
    $.ajax({
            url: `/api/post/total`,
            type: 'get',
            async : false,
            success: function (data) {
              _self.total = data;
              _self.$target.find('.post-total').html(data + "개")
            },
            error : function(){
              alert("에러")
            }
          });
  },
  commonEvent : function(target){
      target.find('.post-btn').on("click", (function(){
          location.href = `/write`
      }).bind(this))

      target.find('.page-item:not(.active):not(.next-btn):not(.prev-btn)').on("click", (function(e){
        this.page = $(e.target).text()
        this.option.page = $(e.target).text();
        this.getData();
        pagingController.init(this.option);
        this.commonEvent(this.$target)
      }).bind(this))

      target.find('.prev-btn').on("click", (function(){
        this.page = pagingController.startPage -1; 
        this.option.page = pagingController.startPage -1;
        this.getData();
        pagingController.init(this.option);
        this.commonEvent(this.$target)
      }).bind(this))

    
      target.find('.next-btn').on("click", (function(){
        this.page = pagingController.nextPage; 
        this.option.page = pagingController.nextPage;
        this.getData();
        pagingController.init(this.option);
        this.commonEvent(this.$target)
      }).bind(this))

  }

};

(function(){
  listController.init($('#list-section'))
})()


</script>
