    <header class="header">
        <div class="header-wrap">
            <a href="/"><div class="main-logo"><img src="/images/logo2.png" alt="" /></div></a>
            <div class="header-right-wrap">
                <a href="/"><div class="home">Home</div></a><span>|</span>
                <% if(memberId === undefined){ %>
                    <a href="/login"><div class="login">Login</div></a>
                <% } else { %>
                    <a href="/logout"><div class="login">logout</div></a>
                <% } %>
            </div>
        </div>
    </header>
    <section class="banner">
        <img src="/images/logo.png" alt="" />
    </section>