<%-include('../common/header-source.ejs')%>
<link rel="stylesheet" type="text/css" href="/css/detail.css" />
<div class="detail-container">
  <%-include('../common/header.ejs')%>
  <section>
    <div class="detail-wrap">
      <div class="post-btn-wrap">
        <button type="button" class="btn btn-primary back-list">리스트로 돌아가기</button>
      </div>
      <div class="mb-3">
        <label for="title">제목</label>
        <div class="form-control" id="title">제목</div>
      </div>
      <div class="mb-3">
        <label for="writer">작성자</label>
        <div class="form-control" id="writer">작성자</div>
      </div>
      <div class="mb-3">
        <label for="formFile">첨부 파일</label>
        <div class="form-control" type="file" id="formFile">
          <div class="file-wrap">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-file-earmark-arrow-down"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"
              />
              <path
                d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"
              />
            </svg>
            <a class="p-1 rounded" style="color: #0d6efd; font-size: 14px" href="/"
              >${file.fileName} </a
            ><span style="font-size: 12px"
              >(<fmt:formatNumber value="${file.fileSize/1024}" pattern=".00" />KB)</span
            ><br />
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="content">내용</label>
        <div class="form-control last-content" id="content">
          <pre>내용</pre>
        </div>
      </div>
      <div class="btn-wrap">
        <div class="post-btn-wrap modify-btn-wrap">
          <button type="button" class="btn btn-primary modify-btn" onclick="location.href='/'">
            수정
          </button>
        </div>
        <div class="post-btn-wrap delete-btn-wrap">
          <button type="button" class="btn btn-primary delete-btn" onclick="location.href='/'">
            삭제
          </button>
        </div>
      </div>
    </div>
  </section>
  <%-include('../common/footer.ejs')%>
</div>
